body{
    background-color: yellow;
    margin: 10px 10px;

}
@keyframes blink {
	from {clip-path: ellipse(50% 50% at 50% 50%);}
	to {clip-path: ellipse(50% 1% at 50% 50%);}
}
.eye {
	height: 150px;
	width: 150px;
	position: absolute;
	background-image: url(assets/shine.jpg);
	background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
	clip-path: ellipse(50% 50% at 50% 50%);
	animation-name: blink;
	animation-duration: 200ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.padre{
    display: flex;
    justify-content: center;
        margin:20rem  auto;

}
.boca{
    margin-top: 100px;
    background-color: transparent;
}
.mejilla{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
}

.nariz{
  height: 50px;
  width: 100px;
  background-color: black;
  border-radius: 100%;
  margin: 0px auto;

}
